<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/Controller-CAD-LOG.css">
  <link rel="shortcut icon" href="logo.ico" type="image/x-icon">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vitalusus+ | Bibliotecca de Vídeos Treinador</title>
</head>

<body>
  <header>
    <nav class="menuMenu">
      <input type="checkbox" class="input-fake"/>
      <div class="menu-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
      <ul class="menu-options"><br/><br/><br/>
          <li><span class="material-symbols-outlined">settings</span>
          <a class="menu-a"th:href="@{/Vitalusus-2h/Clientes/configT}" target="_self">Configuração</a>
          </li>

          <li><span class="material-symbols-outlined">library_add</span>
              <a class="menu-a" th:href="@{/Vitalusus-2h/Clientes/bibliotecaVideos}">Seus Vídeos</a>
          </li>

          <li><span class="material-symbols-outlined">trending_up</span>
              <a class="menu-a" th:href="@{/Vitalusus-2h/Clientes/Estatisticas}">Estatísticas</a>
          </li>

          <li><span class="material-symbols-outlined">support_agent</span>
              <a class="menu-a" href="#">Contate-nos</a>
          </li>

          <li><span class="material-symbols-outlined">info</span>
              <a class="menu-a" th:href="@{/Vitalusus-2h/Clientes/Sobre-nos}">Sobre nós</a>
          </li>
      </ul>
    </nav>
  <div class="imgLogo">
      <img src="/Logo.png">
    </div>
    <div class="perfil">
      <a th:href="@{/Vitalusus-2h/Clientes/HomeTreinador}" target="_self" id="iperfil">
        <i class='bx bx-user'></i>
      </a>
    </div>
  </header>
  <div class="formContainer">
  <div class="videosCont">
      <a th:href="@{/Vitalusus-2h/Clientes/HomeTreinador}" class="linkseta"  target="_self"><i class='bx bx-left-arrow-circle' ></i></a>
    

    <h1 class="Font">Seus Melhores Vídeos</h1> <!-- <i> ícone de melhores vídeos </i> -->

    <div class="buscaVD">
      <input type="text" name="pesquisa" id="" placeholder="video_search" class="material-symbols-outlined">
    </div>
    <!-- Melhores vídeos do treinador aqui dentro desta div, será um slider horizontal -->
    <div class="AlignVD">

      <div class="videoVD">
        <span>Nome do vídeo</span>
        <video src=""></video>
        <span class="material-symbols-outlined">
          visibility
          </span>
      </div>

      <div class="videoVD2">
        <span>Nome do vídeo</span>
        <video src=""></video>
        <span class="material-symbols-outlined">
          visibility
          </span>
      </div>

      <div class="videoVD3">
        <span>Nome do vídeo</span>
        <video src=""></video>
        <span class="material-symbols-outlined">
          visibility
          </span>
      </div>

      <div class="videoVD4">
        <span>Nome do vídeo</span>
        <video src=""></video>
        <span class="material-symbols-outlined">
          visibility
          </span>
      </div>
    </div>
    <!-- <div> Vídeos do treinador aqui dentro desta div, será um slider horizontal </div>
  ???????????????????????????????????????????????????????????????????????????????????????
  -->

  <h1 class="Font" id="unic">Seus Vídeos</h1>

    <div class="clipAlign">

      <div class="clipVD">
        <span>Nome do vídeo</span>
        <video src=""></video>
        <span class="material-symbols-outlined">
          visibility
          </span>
      </div>

      <div class="clipVD2">
        <span>Nome do vídeo</span>
        <video src=""></video>
        <span class="material-symbols-outlined">
          visibility
          </span>
      </div>

      <div class="clipVD3">
        <span>Nome do vídeo</span>
        <video src=""></video>
        <span class="material-symbols-outlined">
          visibility
          </span>
      </div>

      <div class="clipVD4">
        <span>Nome do vídeo</span>
        <video src=""></video>
        <span class="material-symbols-outlined">
          visibility
          </span>
      </div>
      
    </div>
    <div class="alignBotaoVD">
      

        <a th:href="@{/Vitalusus-2h/Clientes/publicar}">
      <button class="botao">Publicar</button> 
    </a>
   
     </div>
  </div>
  
  </div>
  <footer>
    Footer
  </footer>
</body>

</html>