<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/Controller-CAD-LOG.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="shortcut icon" href="/logo.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Vitalusus+</title>
</head>
<body background="/Academia3.jfif" > 
  <header>
    <div class="imgLogo">
        <img src="/Logo.png">
      </div>
      </div>
    </header>
     <br/>
     <br/>
     <div class="formContainer">
    <div  class="cor">
     <h1 class="sucesso">Sucesso!</h1><br/><br/>
        <div class="uservezin"><i class='bx bxs-user-check'></i></div>
        <div class="bt" >
        <button class="botao" id="Botao"><a th:href="@{/Vitalusus-2h/Clientes/login}" class="bt-submit">Confirmar</a></button>
      </div>
      
        <a class="voltartab" th:href="@{/Vitalusus-2h/Clientes/listaClientes}">Voltar a tabela</a>
      
    </div>
     </div>
    <footer class="clienteSucessoFooter">.</footer>
    </body>
</html>