<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/Controller-CAD-LOG.css">
  <link rel="shortcut icon" href="/logo.ico" type="image/x-icon">
  <link rel="shortcut icon" href="logo.ico" type="image/x-icon">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

  <link rel="stylesheet" href="publicar.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vitalusus+ | Publicar Vídeoaula</title>
</head>

<body>
  <header>
    <nav class="menuMenu">
      <input type="checkbox" class="input-fake"/>
      <div class="menu-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
      <ul class="menu-options"><br/><br/><br/>
          <li><span class="material-symbols-outlined">settings</span>
          <a class="menu-a"th:href="@{/Vitalusus-2h/Clientes/configT}" target="_self">Configuração</a>
          </li>

          <li><span class="material-symbols-outlined">library_add</span>
              <a class="menu-a" th:href="@{/Vitalusus-2h/Clientes/bibliotecaVideos}">Seus Vídeos</a>
          </li>

          <li><span class="material-symbols-outlined">trending_up</span>
              <a class="menu-a" th:href="@{/Vitalusus-2h/Clientes/Estatisticas}">Estatísticas</a>
          </li>

          <li><span class="material-symbols-outlined">support_agent</span>
              <a class="menu-a" href="#">Contate-nos</a>
          </li>

          <li><span class="material-symbols-outlined">info</span>
              <a class="menu-a" th:href="@{/Vitalusus-2h/Clientes/Sobre-nos}">Sobre nós</a>
          </li>
      </ul>
    </nav>
  <div class="imgLogo">
      <img src="/Logo.png">
    </div>
    <div class="perfil">
      <a th:href="@{/Vitalusus-2h/Clientes/HomeTreinador}" target="_self" id="iperfil">
        <i class='bx bx-user'></i>
      </a>
    </div>
  </header>
  <div class="TrenH1" th:each="usuario: ${usuario}">
    <h1 class="bomdia">Bom dia, Treinador(a)!</h1> 
  </div>
  <div class="homeTreina" >
 

  
  <div class="alignIconMovie">
    <span class="material-symbols-outlined">movie</span>
  </div>
  <div class="alignIconPublicar">
    <span class="material-symbols-outlined">add</span>
  </div>
  <div class="alignIconEstatisticas">
    <span class="material-symbols-outlined">
      trending_up
      </span>
  </div>

  <div class="AtributBotton">
    <div class="alignSeusVideos">
      <a href=/Vitalusus-2h/Clientes/bibliotecaVideos><button class="home-txt"> Seus videos</button></a>
    </div>
    <div class="alingCriarVideo">
      <a th:href="@{/Vitalusus-2h/Clientes/publicar}"><button class="home-txt"> Criar vídeo aula</button></a>
    </div>
    <div class="alignEstatisticas">
    <a th:href="@{/Vitalusus-2h/Clientes/Estatisticas}"><button class="home-txt">Suas Estatísticas </button></a>
  </div>
</div>
<footer class="homefooter">.</footer>

  </div>
</body>

</html>