<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Controller-CAD-LOG.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Home Treinador</title>


    <script>

    </script>

</head>

<body>
   
  <header>
    <div class="imgLogo">
        <img src="/Logo.png">
      </div>
      </div>
    </header>
    </div>

    <main class="main">
     

        <div class="content">

            <div class="Rolls">

              <input type="radio" name="roll" id="roll1" class="rollpequeno" checked="checked">

              <input type="radio" name="roll" id="roll2" class="rollpequeno">

              <input type="radio" name="roll" id="roll3" class="rollpequeno">

              <input type="radio" name="roll" id="roll4" class="rollpequeno">


                <div class="slide s1">

                    <img src="/atividade física.jpg" alt="">

                    <div class="p1">

                        <p>Aqui, você terá a oportunidade </p>

                        <p>de melhorar sua vida atráves da</p>

                        <p>prática de atividades físicas.</p>

                    </div>

                </div>

                <div class="slide">

                    <img src="/medico.jpg" alt="">

                    <div class="p1">

                        <p>Temos como objetivo principal</p>

                        <p>garantir a saúde e bem-estar de</p>

                        <p>todos.</p>

                    </div>

                </div>

                <div class="slide">

                    <img src="/corrida.jpg" alt="">

                    <div class="p1">

                        <p>As atividaes físicas reduzem a</p>

                        <p>mortalidade por todas as causas</p>

                        <p>com uma redução de 19% a 21%</p>

                    </div>

                </div>

                <div class="slide">

                    <img src="/abdominal3.jpg" alt="">

                    <div class="p1">

                        <p>Você terá o benefício de ter </p>

                        <p>treinadores especializados te</p>

                        <p>ajudando!</p>

                    </div>

                </div>

                
                </div>



            </div>

            <div class="navigation">

                <label class="bar1" for="roll1"></label>

                <label class="bar2" for="roll2"></label>

                <label class="bar3" for="roll3"></label>

                <label class="bar4" for="roll4"></label>


            </div>

        </div>
    </main>

    <div class="SobreO">
        <div class="p2">
            <p class="p3">
                Uma Rede para os <br />
                interessados em <br />
                uma vida mais  <br />
                saudável </p>
        </div>


        <div class="LogoAjust">
        <img src="/Logo2.jpeg" alt="">
    </div>

        <div class="Vitalusus">
        <h2 class="a1">Vita</h2>
        <h2 class="a2">Lusus</h2>
    </div>

    </div>

    <div class="comecar">
<div class="ajustH1">
        
    </div>
        <div class="p3">
            <p class="p4">
                Para começar a <strong >v i v e r</strong><br/> de
                forma mais saudável<br/> baixe
                o nosso aplicativo<br/> para<br/>
                <strong class="dispositivosStrong">____Android e IOS____</strong></p>
                <a href="https://play.google.com/store/search?q=Vitalusus%2B&c=apps&hl=pt_BR&gl=US&pli=1">
                <img src="">
                </a>
        </div>
        <div class="PlayStore">
            <a href="https://play.google.com/store/search?q=Vitalusus%2B&c=apps&hl=pt_BR&gl=US">
            <img src="/playstore.png" alt="">
        </a>
        </div>
        <div class="appStore">
            <a href="https://www.apple.com/br/search/Vitalusus%2B?src=globalnav">
            <img src="/maca.png">
        </a>
        </div>

        <div class="treinadorAjust">
        <h1>Como ser Treinador</h1>
        <p class="p4">
            Para ser um treinador, você <br />
            precisa  ter um CREF e então
             <br />
            se <a class="fazerloginIndex"th:href="@{/Vitalusus-2h/Clientes/cadastrar}">cadastrar</a> ou  <a class="fazerloginIndex" th:href="@{/Vitalusus-2h/Clientes/login}"><span  class="destacar">fazer o </span><span class="destacar2">login</span></a> <br />
            em nosso site</p>
            </p>
        </div>
    </div>

    </div>
   
</body>

</html>